[submodule "pbl5-fe"]
	path = pbl5-fe
	url = git@github.com:PBL5/Web-FE.git
	branch = main
[submodule "pbl5-api"]
	path = pbl5-api
	url = git@github.com:PBL5/api.git
	branch = main
[submodule "pbl5-rasp"]
	path = pbl5-rasp
	url = git@github.com:PBL5/rasp3.git
	branch = main
